<header>
    <div class="container-fluid fixed-top nav">
        <div class="row align-items-center">
            <div class="col-2">
                <img src="assets/img/APLogo-20-20.png" class="img-fluid" alt="Logo de Argentina Programa" />
            </div>
            <div class="col-3 mt-1">
                <h1>#YoProgramo</h1>
            </div>
            <div class="col">
                <a href="#aboutMe">Sobre mí</a>
            </div>
            <div class="col">
                <a href="#exp">Experiencia</a>
            </div>
            <div class="col">
                <a href="#education">Educación</a>
            </div>
            <div class="col">
                <a href="#skills">Habilidades</a>
            </div>
            <div class="col">
                <a href="#projects">Proyectos</a>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-light">Log In</button>
            </div>
        </div>
    </div>

</header>
