.card{  
    margin: 10px;
  }
  .card:hover{
    box-shadow: 1px 1px 10px #ffffff;
  }
  .card-body{
    background-color: black;
  }
  .card-title{
    color: white;
  }
  h2{
    margin-bottom: 20px;
  }