<section id="projects">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 mt-1">
                <h2>Proyectos</h2>
            </div>
            <div class="col-1">
                <button *ngIf="usuarioAutenticado" class="btn btn-outline-info rounded-circle m-2">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col">
            <div class="row">
                <div *ngFor="let item of project" class="card text-center text-white bg-black" style="width: 18rem;">
                    <img [src]="item.img" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <h6>{{item.date}}</h6>
                        <div class="d-grid gap-2 col-6 mx-auto mt-3">
                            <a class="btn btn-outline-light" href="{{item.link}}" target="_blank" role="button">Ver</a>
                        </div>
                        <div *ngIf="usuarioAutenticado" class="col mt-3">
                            <button class="btn btn-outline-light rounded-circle m-2">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <button class="btn btn-outline-danger rounded-circle m-2">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>