<section id="education">
    <div class="box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 mt-1">
                <h2>Educación</h2>
            </div>
            <div class="col-1">
                <button *ngIf="usuarioAutenticado" class="btn btn-outline-info rounded-circle m-2">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div *ngFor="let item of listEducation" class="row m-3">
            <div class="col-2">
                <img [src]="item.img" class="img-fluid">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-10">
                        <h3>{{item.school}}</h3>
                    </div>
                    <div class="col-2">
                        <button *ngIf="usuarioAutenticado" class="btn btn-outline-light rounded-circle m-2"
                            data-bs-toggle="modal" data-bs-target="#edit-button-edu" (click)="mostrarDatosEducacion(item)">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button *ngIf="usuarioAutenticado" class="btn btn-outline-danger rounded-circle m-2" (click)="eliminarEducacion(item)">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                    <h4>{{item.title}}</h4>
                    <p>{{item.periodo}}</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>