<section id="education">

    <h2>Educación</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img src="assets/img/logo_utn.png" class="img-fluid" alt="Logo de la UTN">
            </div>
            <div class="col mt-3">
                <h3>Universidad Tecnológica Nacional - Facultad Regional Buenos Aires</h3>
                <h4>2021 - Actualidad</h4>
                <p>Ingeniería en Sistemas de Información</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img src="assets/img/APLogo-20-20.png" class="img-fluid" alt="Logo de Argentina Programa">
            </div>
            <div class="col">
                <h3>Argentina Programa - #YoProgramo</h3>
                <h4>Noviembre 2021 - Mayo 2022</h4>
                <p>Full Stack Developer</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img src="assets/img/freecodecamp_logo.png" class="img-fluid" alt="Logo de freeCodeCamp">
            </div>
            <div class="col mt-3">
                <h3>freeCodeCamp</h3>
                <h4>Abril 2022</h4>
                <p>Responsive Web Design</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img src="assets/img/fundacion_logo.png" class="img-fluid" alt="Logo de Fundación Telefónica">
            </div>
            <div class="col">
                <h3>Fundación Telefónica Movistar</h3>
                <h4>Abril 2022</h4>
                <p>Programación con Javascript</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img src="assets/img/fundacion_logo.png" class="img-fluid" alt="Logo de Fundación Telefónica">
            </div>
            <div class="col">
                <h3>Fundación Telefónica Movistar</h3>
                <h4>Marzo 2022</h4>
                <p>Fundamentos de Programación</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img src="assets/img/APLogo-20-20.png" class="img-fluid" alt="Logo de Argentina Programa">
            </div>
            <div class="col">
                <h3>Argentina Programa - #SéProgramar</h3>
                <h4>Abril 2021 - Junio 2021</h4>
                <p>Introducción a la Programación con Gobstones, Javascript y Ruby</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img src="assets/img/UBA.svg.png" class="img-fluid" alt="Logo de la UBA">
            </div>
            <div class="col mt-3">
                <h3>Universidad de Buenos Aires</h3>
                <h4>2015 - 2019</h4>
                <p>Licenciatura en Musicoterapia</p>
            </div>
        </div>
    </div>
</section>