<section id="skills">
    <div class="box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 mt-1">
                <h2>Habilidades</h2>
            </div>
            <div class="col-1">
                <button *ngIf="usuarioAutenticado" class="btn btn-outline-info rounded-circle m-2">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col">
            <div class="row">
                <div *ngFor="let item of listSkills" class="card text-center" style="width: 15rem;">
                    <img [src]="item.img" class="card-img-top img-fluid"/>
                    <div class="card-body">
                        <h3 class="card-text">{{item.skill}}</h3>
                        <button *ngIf="usuarioAutenticado" class="btn btn-outline-danger rounded-circle m-2"(click)="eliminarSkill(item)">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</section>