<section id="skills">
    <h2>Habilidades</h2>
    <button *ngIf="usuarioAutenticado" class="btn btn-outline-info rounded-circle m-2">
        <i class="fa-solid fa-plus"></i>        
    </button>
    
    <ul id="light-slider">
        <li *ngFor="let item of skills">                
            <div class="box">
                <img [src]="item.img" class="img-fluid" alt="Logo de HTML5"/>
                <h1>{{item.skill}}</h1>
                <button *ngIf="usuarioAutenticado" class="btn btn-outline-light rounded-circle m-2">
        <i class="fa-solid fa-pencil"></i>
    </button>
    <button *ngIf="usuarioAutenticado" class="btn btn-outline-danger rounded-circle m-2">
        <i class="fa-solid fa-xmark"></i>        
    </button>
            </div>
        </li>
    </ul>

</section>