<section id="skills">
    <h2>Habilidades</h2>
    <ul id="light-slider">
        <li class="item-a">                
            <div class="box">
                <img src="assets/img/html_logo.png" class="img-fluid" alt="Logo de HTML5"/>
                <h1>HTML5</h1>
            </div>
        </li>
        <li class="item-b">                
            <div class="box">
                <img src="assets/img/CSS-Logo.png" class="img-fluid" alt="Logo de CSS5"/>
                <h1>CSS3</h1>
            </div>
        </li>
        <li class="item-c">                
            <div class="box">
                <img src="assets/img/bootstrap_logo.png" class="img-fluid" alt="Logo de Bootstrap"/>
                <h1>BOOTSTRAP</h1>
            </div>
        </li>
        <li class="item-d">                
            <div class="box">
                <img src="assets/img/angular_logo.png" class="img-fluid" alt="Logo de ANGULAR"/>
                <h1>ANGULAR</h1>
            </div>
        </li>
        <li class="item-e">                
            <div class="box">
                <img src="assets/img/git_logo.png" class="img-fluid" alt="Logo de GIT"/>
                <h1>GIT</h1>
            </div>
        </li>   
        <li class="item-f">                
            <div class="box">
                <img src="assets/img/JavaScript_logo.png" class="img-fluid" alt="Logo de JavaScript"/>
                <h1>JAVASCRIPT</h1>
            </div>
        </li>
        <li class="item-g">                
            <div class="box">
                <img src="assets/img/java_logo.jpg" class="img-fluid" alt="Logo de Java"/>
                <h1>JAVA</h1>
            </div>
        </li>
        <li class="item-h">                
            <div class="box">
                <img src="assets/img/Typescript_logo.png" class="img-fluid" alt="Logo de Typescript"/>
                <h1>TYPESCRIPT</h1>
            </div>
        </li>
        <li class="item-i">                
            <div class="box">
                <img src="assets/img/MYSQL_logo.png" class="img-fluid" alt="Logo de MySQL"/>
                <h1>MYSQL</h1>
            </div>
        </li>
        <li class="item-j">                
            <div class="box">
                <img src="assets/img/spring_logo.png" class="img-fluid" alt="Logo de Spring Boot"/>
                <h1>SPRING BOOT</h1>
            </div>
        </li>
    </ul>

</section>