/*header*/

header h1 {
  font-size: 1.5em;
  color: white;
}
header a {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 1s;
}
header a:hover {
  color: dimgray;
  background-size: 100% 2px;
}
.nav {
  background: black;
  box-shadow: 0 1px 0 rgba(59, 57, 57, 0.4);
}

/*about me*/
#img-perfil {
  position: relative;
  height: 300px;
  width: 300px;
  top: -5%;
  z-index: 1;
  transition: all 0.5s;
}
#img-perfil:hover {
 transform: translate(-5px,-5px);
  
}

#img-perfil-back {
  position: relative;
  height: 300px;
  width: 300px;
  z-index: -1;
  left: -350%;
  top:5%;
  filter: grayscale(200%);
}
#img-perfil-back:hover {
  transform: translateY(5px);
}
/*body*/

body {
  background: black;
  color: white;
}

section {
  margin-bottom: 10px;
  padding-top: 8rem;
  padding-bottom: 2rem;
}
.box {
  border-color: dimgray;
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*social media*/

.social-media {
  position: fixed;
  top: 50%;
  left: 3%;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 100;
}
.social-media a {
  text-decoration: none;
  color: white;
  margin-bottom: 8px;
  transition: all 0.5s;
}
.social-media a:hover {
  color: dimgray;
  transform: translateY(-5px);
}
.social-media::after {
  content: "";
  display: block;
  width: 1px;
  height: 200px;
  margin: 0px auto;
  background-color: white;
}
.social-media i {
  font-size: 0.8em;
}

/*email*/

.email {
  position: fixed;
  top: 31%;
  right: 1.3%;
  font-size: 0.9em;
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: column;
}
.email a {
  text-decoration: none;
  color: white;
  writing-mode: vertical-rl;
  margin-bottom: 8px;
  transition: all 0.5s;
}
.email a:hover {
  color: dimgray;
  transform: translateY(-5px);
}
.email::after {
  content: "";
  display: block;
  width: 1px;
  height: 400px;
  margin: 0px auto;
  background-color: white;
}

/* habilidades*/
#skills {
  justify-content: center;
  align-items: center;
}
#skills .card {
  width: 350px;
  height: 350px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
  margin: 20px 10px;
  transition: all 2s;
}
#skills .card:hover {
  background-color: #1e1e26;
  width: 200px;
}
#skills .card img {
  margin-top: 15px;
  transition: all 1s;
}
#skills .card img:hover {
  margin-top: 15px;
  transform: scale(1.1, 1.1);
}
#skills .card h1 {
  margin-bottom: 20px;
}

/*proyectos*/

#projects .card {
  margin: 35px;
  transition: all 0.5s;
  border-color: white;
}
#projects .card:hover {
  box-shadow: 1px 1px 10px #ffffff;
}

/*botones*/

.fa-xmark {
  font-size: 20px;
}

/* forms */
.modal-body {
  background-color: rgb(20, 20, 20);
}
.modal-content {
  background-color: rgb(20, 20, 20);
}
form {
  background-color: rgb(20, 20, 20);
}
.ng-valid:not(form).ng-touched {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form).ng-touched {
  border-left: 5px solid #a94442; /* red */
}
